<h1>{{error.status}} // {{message}}</h1>

<pre>Have you tried turning it off and on again?
Yes? Maybe you could try again later.</pre>
<pre>You should probably go back <a href="/">home.</a></pre>
<!--<pre>{{error.stack}}</pre>-->
